#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  /* text-align: center; */
  display: grid;
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* .header{display:flex} */
.header {
  border: 2px solid yellow;
  background: var(--dark);
    border-bottom: 3px solid var(--primary);
    color: var(--light);
    padding: 25px 0;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.696);
    width: auto;
    border :3px solid black
}

body {
  background-color: red;
}

.container {
  grid-template-columns: 1fr 1fr ;

  display: grid;



}

.header {
  width: 100%;
  overflow: hidden;
  /* contain floats */
  height: 25px;
  margin-top: 0;
  display: flex;
}

.videos {
  border: 1px solid grey;
  border-radius: 15px;
}

.sB {
  width: 75%;
  height:25px;
}

.icon{height: 50px;position: relative; top: -15px; }
.comment-section{border:2px solid white;height:50%;}
