
#root {

  
  max-width: 100%;
  margin: 0 ;
  text-align: center;
  left: 0;
}
.header {
    
  background: var(--dark);
  
  border-bottom: 3px solid var(--primary);
  color: var(--light);
  padding: 25px 0;
  text-align: center;
    background-color:rgba(255, 255, 255, 0.696);
    width: auto;
    border :3px solid black;
}

body {
  background-color: red;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  overflow: hidden;
 
  height: 25px;
  margin-top: 0;
  display: flex;
}

.videos {
  border: 1px solid grey;
  border-radius: 15px;
}

.sB {
  width: 75%;
  height:25px;
}

.icon{height: 50px;position: relative; top: -15px; }
.comment-section{border:2px solid white;height:50%;}
